.nav-pills > .nav-item > .active {
    background-color: #3f51b5!important;
}

.success{
   background-color: #28a745!important;  
}

.success button{
    color: #fff!important;
}

.info{
    background-color: #17a2b8!important;
}

.info button{
    color: #fff!important;
}

.danger{
    background-color: #dc3545!important;
}

.danger button{
    color: #fff!important;
}