<ul class="nav nav-pills nav-fill justify-content-center mb-3">
    <li class="nav-item">
      <a class="nav-link active" id="accepted-tab" data-toggle="tab" href="#accepted" role="tab" aria-controls="accepted" aria-selected="true">Accepted</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="inProgress-tab" data-toggle="tab" href="#inProgress" role="tab" aria-controls="inProgress" aria-selected="false">In Progress</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="finished-tab" data-toggle="tab" href="#finished" role="tab" aria-controls="finished" aria-selected="false">Finished</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
        <div *ngFor="let client of clients" class="tab-pane fade show active" id="accepted" role="tabpanel" aria-labelledby="accepted-tab">            
                <div id="accordion">
                        <div class="card mb-3">
                            <div class="card-header success" id="headingOne">
                                <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#' + client.firstName" aria-expanded="true" aria-controls="collapseOne">
                                <h4 class="mb-0"> {{client.firstName}} - Progress {{client.progress}}% - {{client.date | date:'short'}}</h4>
                                </button>
                            </div>
                        
                            <div id="{{client.firstName}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="collapse multi-collapse" id="{{client.lastName}}">
                                        <div class="card card-body">
                                            <p>{{client.paragraphOne}}</p>
                                            <p>{{client.paragraphTwo}}</p>
                                            <p>{{client.paragraphThree}}</p>
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" [attr.data-target]="'#' + client.lastName" aria-expanded="false" aria-controls="multiCollapseExample2">Show Request</button>
                                    <div class="form-group">
                                        <hr>
                                        <label for="exampleFormControlSelect1">Select Percentage Complete</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>0</option>
                                          <option>5</option>
                                          <option>10</option>
                                          <option>15</option>
                                          <option>20</option>
                                          <option>25</option>
                                          <option>30</option>
                                          <option>35</option>
                                          <option>40</option>
                                          <option>45</option>
                                          <option>50</option>
                                          <option>55</option>
                                          <option>60</option>
                                          <option>65</option>
                                          <option>70</option>
                                          <option>75</option>
                                          <option>80</option>
                                          <option>85</option>
                                          <option>90</option>
                                          <option>95</option>
                                          <option>100</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Notes</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Completed Task... Other Notes... Etc."></textarea>
                                    </div>
                                    <hr>
                                    <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                                    <button type="button" mdbBtn color="danger" (click)="deleteModal.show()" class="waves-light" aria-label="Close" mdbWavesEffect><i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
                                </div>
                            </div>
                        </div> 
                </div>
        </div>
        <div class="tab-pane fade" id="inProgress" role="tabpanel" aria-labelledby="inProgress-tab">
                <div id="accordion">
                        <div class="card mb-3">
                            <div class="card-header info" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                    <h4>Client 1 - Progress 50%</h4>
                                </button>
                            </h5>
                            </div>
                        
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                                        <div class="card card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2">Show Request</button>
                                    <div class="form-group">
                                        <hr>
                                        <label for="exampleFormControlSelect1">Select Percentage Complete</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>0</option>
                                          <option>5</option>
                                          <option>10</option>
                                          <option>15</option>
                                          <option>20</option>
                                          <option>25</option>
                                          <option>30</option>
                                          <option>35</option>
                                          <option>40</option>
                                          <option>45</option>
                                          <option>50</option>
                                          <option>55</option>
                                          <option>60</option>
                                          <option>65</option>
                                          <option>70</option>
                                          <option>75</option>
                                          <option>80</option>
                                          <option>85</option>
                                          <option>90</option>
                                          <option>95</option>
                                          <option>100</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Notes</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tasks that are completed..."></textarea>
                                    </div>
                                    <hr>
                                    <button type="button" mdbBtn color="success" class="relative waves-light" mdbWavesEffect><i class="fa fa-save" aria-hidden="true"></i> Save</button>
                                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" mdbWavesEffect><i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
                                </div>
                            </div>
                        </div> 
                </div>
        </div>
        <div class="tab-pane fade" id="finished" role="tabpanel" aria-labelledby="finished-tab">
                <div id="accordion">
                        <div class="card mb-3">
                            <div class="card-header danger" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
                                    <h4>Client 1 - Progress 100%</h4>
                                </button>
                            </h5>
                            </div>
                        
                            <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                                        <div class="card card-body">
                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                        </div>
                                    </div>
                                    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">Show Request</button>
                                    <div class="form-group">
                                        <hr>
                                        <label for="exampleFormControlSelect1">Select Percentage Complete</label>
                                        <select class="form-control" id="exampleFormControlSelect1">
                                          <option>0</option>
                                          <option>5</option>
                                          <option>10</option>
                                          <option>15</option>
                                          <option>20</option>
                                          <option>25</option>
                                          <option>30</option>
                                          <option>35</option>
                                          <option>40</option>
                                          <option>45</option>
                                          <option>50</option>
                                          <option>55</option>
                                          <option>60</option>
                                          <option>65</option>
                                          <option>70</option>
                                          <option>75</option>
                                          <option>80</option>
                                          <option>85</option>
                                          <option>90</option>
                                          <option>95</option>
                                          <option>100</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleFormControlTextarea1">Notes</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Tasks that are completed..." disabled></textarea>
                                    </div>
                                    <hr>
                                    <button type="button" mdbBtn color="danger" class="waves-light" aria-label="Close" mdbWavesEffect><i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
                                </div>
                            </div>
                        </div> 
                </div>
        </div>
  </div>
  <div mdbModal style="overflow-y: auto" #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="text-center">Are you sure you want to delete this Client?</h4>
            </div>
            <div class="modal-body">
              <!--Card-->
            <mdb-card cascade="true" wider="true">
      
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
              <mdb-card-img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20%283%29.jpg"></mdb-card-img>
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <!--/Card image-->
      
            <mdb-card-body cascade="true" class="text-center">
              <!--Card content-->
              <!--Title-->
              <h4 class="card-title">
                
              </h4>
              <h5 class="indigo-text">
                This client will go back into the random generator queue.          
              </h5>
      
            </mdb-card-body>
            <!--/.Card content-->
      
          </mdb-card>
            </div>
            <div class="modal-footer col-md-9 ml-4">
              <button type="button" mdbBtn color="success" class="waves-light" aria-label="Close" (click)="deleteModal.hide()" mdbWavesEffect><i class="fa fa-check" aria-hidden="true"></i></button>
              <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>