.header{
    //color:white;
    font-size: 45px!important;
}

h1{
    font-size: 50px;
}

p{
    font-size: 20px;
}

.fictional{
    color:#00c851    
}

.client{
    color:#ff3547;
}

.generator{
    color:#33b5e5;    
}

/*
#00c851
#ff3547
#33b5e5
*/